.trending-users-w {
    width: 93%;
    min-height: 113vw;
    margin: auto;
    background: #fff;
    z-index: -1;
    position: relative;
    &::before {
        content: "";
        background: url('../imgs/bg_lover.png') no-repeat center center;
        background-size: contain;
        width: 100%;
        height: 103vw;
        position: absolute;
        top: -4%;
        z-index: -1;
    }
    .top-user {
        background: url('../imgs/top-bg.png') no-repeat center center;
        background-size: contain;
        width: 100%;
        height: 70vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        position: relative;
        margin-bottom: -20px;
        .top-user-img {
            width: 20vw;
            height: 20vw;
            position: relative;
            margin-top: -15%;

            .user-frame {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 22;
            }

            .user-img {
                width: 65%;
                height: 65%;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }

            &:nth-of-type(1) {
                order: 2;
                margin-top: -45%;
            }

            &:nth-of-type(2) {
                order: 1;
            }

            &:nth-of-type(3) {
                order: 3;
            }
        }

        .top-user-name {
            color: $primary_black;
            font-size: 9px;
            font-weight: 700;
        }

        .top-user-score {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -12px;

            .score {
                font-size: 13px;
                font-weight: 600;
                color: #ef6471;
                margin: -4px 0 0px 5px;
            }

            img {
                width: 3vw;
                height: 3vw;
            }
        }
    }

    .user-trend {
        background: url('../imgs/user-trend-bg.png') no-repeat center center;
        background-size: contain;
        width: 100%;
        height: 16vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        direction: rtl;
        margin: 10px 0;
        padding: 0 10px;
        animation: scale 300ms ease-in-out;

        .user-number {
            color: #fff;
            font-size: 10px;
            font-weight: 600;
            background: url('../imgs/heart.png') no-repeat center center;
            background-size: contain;
            width: 6vw;
            height: 6vw;
            display: flex;
            align-items:center;
            justify-content:center  ;
        }

        .user-img {
            width: 10vw;
            height: 10vw;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid #ef6471;
            }
        }

        .user-desc {
            display: flex;
            justify-content: space-between;
            width: 50%;

            .user-name {
                display: flex;
                flex-direction: column;
            }
        }

        .user-score {
            color: $primary_color;
            font-size: 14px;
            font-weight: 600;

            img {
                width: 4vw;
                height: 4vw;
                margin: 0 5px;
            }
        }
    }
}